/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/remotes
/resources/public/out/*
/resources/public/acha.js
/resources/public/acha.min.js
acha-sqlite.db
.acha
.DS_Store
design
