* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, textarea, button {
  font: 12px/20px Consolas, 'Menlo', monospace;
}

html {}
td { vertical-align: top; }
ul { list-style-type: none; padding: 0; margin-top: 30px; }
.a { cursor: pointer; }
a { color: inherit; text-decoration: none; }
a:hover { color: #489125; }


h1 { font-size: 32px; }

.id { display: none; }
.id:before { content: " ["; } .id:after { content: "]"; }

.window { padding: 40px 0px; margin: 0 auto; width: 900px; vertical-align: top; }

.header { border-bottom: 3px solid #7E5DA3; }
.footer a { color: #7E5DA3; text-decoration: underline; }
.footer a:hover { color: #489125; }
.footer { clear: both; width: 400px; padding: 40px 0 0 0; }
.footer__copy { border-top: 3px solid #7E5DA3; margin-bottom: 12px; padding-top: 20px; }
.footer__author { margin: 3px 0; }
.footer__author > img { width: 19px; height: 19px; margin: 0 4px 0 0;}
.footer__author > span { position: relative; top: -4px; }


.logo { display: block; width: 500px; height: 120px; background-image: url(i/logo@6x.png); background-size: 165px 240px; position: relative; background-repeat: no-repeat; margin-left: -13px; }
a.logo { background-position-y: -120px; }
a.logo:hover { background-position-y: 0; }
.logo > h2 { position: absolute; left: 95px; bottom: 4px; margin: 0; }
a.logo > h2 { color: #7E5DA3; }
.logo.a:hover > h2 { color: #489125; }

.pane { float: left; width: 450px; margin: 20px 0 0 0; }

.repo { font-size: 16px; line-height: 20px; margin: 0 0 12px 0; display: inline-block; border-bottom: 2px solid transparent; }
.repo.a:hover { color: #7E5DA3; }
.repo__url { font-size: 12px; color: #999; }

.tag { font-size: 12px; line-height: 25px; display: inline; font-weight: bold; color: white; padding: 3px 4px 1px 4px; border-radius: 3px; text-transform: uppercase; letter-spacing: 1px; }
.repo__added { background-color: #67D514; margin-left: 8px; }

.add_repo > input, .add_repo > button { outline: none; }
.add_repo > input  { font-size: 16px; border: 3px solid #A9A9A9; border-radius: 3px; padding: 8px 6px; width: 300px; }
.add_repo > input:focus { border-color: #7E5DA3; }
.add_repo > button { border: none; width: 60px; height: 26px; background:url(i/add.png); background-size: 100% 200%; position: relative; top: 4px; margin: 0 0 0 8px; cursor: pointer; }
.add_repo > button:hover { background-position-y: 26px; }

.user { display: block; position: relative; width: 300px; height: 79px; padding: 5px 5px 5px 77px; margin: 0 0 16px 0; line-height: 18px; overflow: hidden; }
.user:hover { color: inherit; }
.user__avatar { position: absolute; left: 5px; top: 5px; width: 57px; height: 57px;  }
.user__avatar > img { width: 100%; height: 100%; -webkit-mask-box-image: url('i/avatar_mask.png'); }

.user__name, .user__email { display: block; white-space: nowrap; }
.user__name { font-weight: bold; }
.user__email { color: #999; }
.user { border: 6px solid transparent; border-image:url(i/border.png) 12 12 repeat; }
.user:hover { background: #f7f7f7; }

.user__ach { line-height: 25px; display: inline; color: #F0434D; font-weight: bold; background-image: url(i/medal.png); background-size: 10px 8px; background-repeat: no-repeat; background-position: 100% 3px; border: 2px solid #F0434D; padding: 2px 12px 0 2px; border-radius: 3px; }


.up, .rp { position: relative; padding: 15px 5px 5px 138px; font-size: 24px; line-height: 32px; }
.up__avatar { position: absolute; left: 5px; top: 13px; width: 114px; height: 114px; }
.up__avatar > img { width: 100%; height: 100%; -webkit-mask-box-image: url('i/avatar_mask.png'); }
.up__name, .rp__name { font-size: 32px; font-weight: bold; } 
.up__hr, .rp__hr { width: 200px; margin: 10px 0; border-bottom: 3px solid #7E5DA3; }
.up__ach, .rp__ach  { width: 38px; height: 38px; margin: 3px; }
.up__achs { position: absolute; top: 150px; left: 0; width: 450px; line-height: 0px; margin: 0 -3px; }

.rp { padding-left: 0; }
.rp__email { font-size: 12px; }
.rp__achs  { margin-top: 20px; line-height: 0; width: 450px; margin: 0 -3px; }

.ach { position: relative; width: 400px; min-height: 60px; padding: 0 0 0 72px; margin: 32px 0; line-height: 18px; overflow: hidden; }
/* .ach { border: 6px solid transparent; border-image:url(i/border.png) 12 12 repeat; } */
/* .ach:hover { background: #f7f7f7; } */
.ach__logo { position: absolute; left: 0; top: 3px; width: 57px; height: 57px;  }
.ach__logo > img { width: 100%; height: 100%;  }

.ach__name { font-weight: bold; }
.ach__desc { color: #999; }
.ach__level:before { content: " lvl "; }
.ach__level { display: inline; position: relative; top: -5px; font-size: 10px; }
.ach__text { color: #999; text-decoration: none; border-bottom: 1px solid #eee; }
.ach__links { margin-top: 5px; }
.ach__links > a { line-height: 14px; }

.ach__users { line-height: 0; margin: 0 -3px; }
.ach__user { width: 38px; height: 38px; margin: 3px;  -webkit-mask-box-image: url('i/avatar_mask.png'); }

.vote { width: 350px; height: 80px; background:url(i/vote@2x.png); background-size: 100% 200%; position: absolute; top: 0; right: 0; }
.vote:hover { background-position-y: -80px; }

.lach { position: relative; height: 160px; }
.lach__user, .lach__ach { position: absolute; border: 6px solid transparent; border-image:url(i/border.png) 12 12 repeat; padding: 5px 5px 5px 77px; width: 400px; }
.lach__user { left: 0; top: 0; height: 79px; background: #eee; }
.lach__user:hover { background: #e0e0e0; color: inherit; }
.lach__ach  { left: 10px; top: 50px; height: 79px; background: white; }

.lach__user__img, .lach__ach__img { width: 57px; height: 57px; position: absolute; left: 5px; top: 5px; }
.lach__user__name, .lach__ach__name { font-weight: bold; }

.lach div { white-space: nowrap; overflow: hidden; }
.lach__ach__links > a { line-height: 14px; }

.progress { height: 3px; width: 900px; margin: 168px auto 0; background-color: #D0BAE3;  }
.progress__bar { background-color: #7E5DA3; height: 3px; }
